header {
  position: sticky;
  top: 0;
  color: #fff;
  background: var(--primaryColor);
  z-index: 1;
}

header .fw-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header #site {
  margin: 1rem;
}

header #site a {
  text-decoration: none;
}

header #site-name {
  font-size: 2.4rem;
  line-height: 1.2;
}

header #site-motto {
  font-size: 1.2rem;
}

#header-nav {
  margin: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header-nav a {
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

#header-nav a:hover {
  background: var(--secondaryColor);
  border-radius: 0.3rem;
}

header #menu {
  display: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

svg.icon {
  width: 1rem;
  height: 1rem;
}

svg.icon path {
  fill: #888;
}

main {
  box-sizing: border-box;
  padding: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}


main a:hover {
  background-color: var(--secondaryColor);
  border-radius: 4px;
}

main a sup {
  font-size: 0.6rem;
  position: relative;
  top: 0;
  right: 0;
}

#pages {
  margin: 0 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

#pages a,
#pages .info {
  margin: 0 0.5rem;
}

#article-footer {
  padding-left: 0;
  margin: 0 1rem;
  list-style-type: none;
}

#article-footer div {
  display: flex;
  align-items: center;
}

#article-footer .icon {
  margin-right: 0.5rem;
}

#article-footer a {
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .title {
    font-size: 1rem !important;
  }

  header #menu {
    display: block;
    margin: 0 1rem;
  }

  header #site-name {
    font-size: 1.25rem;
  }

  header #site-motto {
    font-size: 1rem;
  }

  #header-nav {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--primaryColor);
  }

  #header-nav a {
    width: 95%;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 5px auto;
    border-radius: 0px;
    box-sizing: border-box;
  }

  .fw-typography-spacing h1 {
    font-size: 1.9rem;
  }

  .fw-typography-spacing h2 {
    font-size: 1.3rem;
  }

}

/* Custom Stuff Is Mostly Down Here */
h2 {
  --_fontSizes_desktop_fontSize: 1.75rem;
}

a.title {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize !important;
}

.heading-anchor {
  position: relative;
  display: block;
  text-decoration: none;
}
.heading-anchor:hover {
  text-decoration: underline;
}
.heading-anchor:hover:before {
  content: "#";
  position: absolute;
  left: -1.5rem;
  font-size: 2rem;
}

main pre {
  position: relative;
  background-color: var(--secondaryColor);
  border: 1px solid transparent;
  margin: 1rem 0 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
  overflow-x: auto;
  cursor: pointer;
}

main img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  object-fit: contain;
}

.copy-code-btn.button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  pointer-events: none;
}

.article-date {
  display: inline-block;
  background-color: var(--secondaryColor);
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

footer {
  min-height: 75vh;
  background-color: var(--primaryColor);
}

footer .social-links a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  margin: 10px;
  text-align: center;
  transition: background-color 0.25s ease;
}

footer .social-links a:hover {
  background-color: var(--backgroundColorLight);
}

footer .social-links a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

